@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --h1: 3rem;
  --p: 1.6rem;
  --span: 1.5rem;
  --subtitle: 1.8rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: white;
  background: linear-gradient(
      131deg,
      rgba(111, 63, 188, 0.2) 0%,
      rgba(157, 97, 178, 0.2) 37.5%,
      rgba(93, 54, 157, 0.2) 63.54%,
      rgba(86, 10, 208, 0.2) 100%
    ),
    #0e0d12;
  background-repeat: no-repeat;
  background-size: 100%;

  font-family: 'Inter', sans-serif;

  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

#app {
  width: 100%;
}

h1 {
  font-size: var(--h1);
}

p {
  font-size: var(--p);
}

span {
  font-size: var(--span);
}

a,
a:visited {
  color: #a37ff0;
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  :root {
    --h1: 4.5rem;
    --p: 1.8rem;
    --span: 1.6rem;
    --subtitle: 2rem;
  }
}
